.information-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 20px;
}
h2 {
	font-size: 20px;
	color: var(--violet2);
	font-weight: 300;
	letter-spacing: 2.41px;
}
.information-vitalinea {
	font-weight: bold;
	font-size: 14px;
	margin-top: 30px;
}
.information-ingredients {
	font-size: 14px;
	margin-top: 30px;
}
.information-items {
	display: flex;
	margin-top: 30px;
	background-color: var(-white2);
	text-align: right;
}
.information-items li {
	font-size: 12px;
	margin-top: 10px;
	color: var(--violet1);
}
h4 {
	margin-top: 40px;
}
/* desktop */

@media screen and (min-width: 1250px) {
	.information-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 20px 20px;
		max-width: 1250px;
		margin: 0 auto;
	}
	.information-wrapper {
		width: 50%;
	}
	.information-vitalinea {
		width: 50%;
	}
	.information-ingredients {
		width: 50%;
	}
	.information-items li {
		font-size: 14px;
		margin-top: 10px;
		color: var(--violet1);
	}
	h2 {
		font-size: 32px;
		color: var(--violet2);
		font-weight: 300;
		letter-spacing: 3.86px;
	}
}
